body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
header {
  display: flex;
  justify-content: center;
  height: 120px;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}
.logo {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
}
nav a {
  color: #898989;
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
nav .active a,
nav a:hover {
  background-color: #06a3dd;
  color: white;
}
#banner {
  display: flex;
  justify-content: center;
  background-image: url("../img/img1.jpg");
  background-position: center;
  background-size: cover;
  height: 670px;
}
.column {
  flex-direction: column;
}
.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}
.banner_headline h1 {
  color: white;
  font-size: 70px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  max-width: 350px;
}
.banner_headline h2 {
  color: white;
  font-size: 21px;
  text-shadow: 0px 1px 0px #555555;
  margin: 0;
  padding: 0;
  width: 300px;
  margin-top: 20px;
}
.banner_options {
  display: flex;
  height: 210px;
}
.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: white;
  padding: 20px;
}
.banner1 {
  background-color: #02a3dd;
}
.banner2 {
  background-color: #0170c6;
}
.banner3 {
  background-color: #014293;
}
.banner_title {
  color: white;
  font-size: 22px;
  text-shadow: 0px 1px 0px #555555;
}

.banner_desc {
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 20px;
  margin-top: 20px;
}
.banner_options a {
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
}
.banner_hours {
  display: flex;
  align-content: end;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 12px;
  font-weight: 600;

  border-bottom: 0.2px solid #d7d6d6;
}
.banner-contact {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 13px;
  font-weight: 600;
  border-bottom: 0.2px solid #d7d6d6;
}
.banner-contact div {
  margin-right: 10px;
}

#geral {
  display: flex;
  justify-content: center;
}
#geral section {
  flex: 2;
}
#geral aside {
  flex: 1;
}
.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.widget_title_text {
  margin-bottom: 20px;

  color: black;
  font-size: 21px;
  font-weight: bold;
}
.widget_title_bar {
  width: 50px;
  height: 3px;
  background-color: #02a3dd;
}
.widget_square {
  background-color: #02a3dd;
  width: 150px;
  height: 150px;
  margin-top: 15px;
}
.box_square {
  display: flex;
  justify-content: space-around;
}
.container_square {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.banner_apointment {
  margin-top: 20px;
}
.img-icon {
  background-color: #d7d6d6;
}
